.principal {
	margin-top: 50px;
}


/*tarjeta 1*/
.card-header-first {
	margin-top: -40px;
	height: 100px;
	background: linear-gradient(-90deg, #BF019F, #F28A57);
	box-shadow: 1px 5px 15px #292929;
}

/*tarjeta 2*/
.card-header-second {
	box-shadow: 1px 7px 15px #292929;
	margin: -25px -15px 0px -15px;
	height: 100px;
	background: linear-gradient(-90deg, #7333ac, #330197);
}

/*tarjeta 3*/
.card-header-third {
	margin-top: -20px;
	margin-left: 10px;
	margin-right: 10px;
	height: 100px;
	box-shadow: 1px 5px 15px #292929;
	background: linear-gradient(-90deg, #11998e, #38ef7d);
}

.card-section-third span i {
	padding: 15px;
	margin: 0px 10px;
	color: #000000;
	height: 50px;
	width: 50px;
	box-shadow: 1px 6px 24px #d2d2d2;
	background: linear-gradient(-90deg, #11998e, #38ef7d);
}

.card-header-third span i:hover,
.card-section-third span i:hover {
	box-shadow: 1px 1px 15px #292929;
}

/* Para el efecto sombra al pasar por encima el mouse */
.card-section {
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
	border-width: 2rem;
	/* Agrega esta línea para el grosor del borde */
}

/* Para el efecto sombra al pasar por encima el mouse */
.card-section:hover {
	box-shadow: 1px 1px 20px #747474;
}