<app-header></app-header>

<nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgba(0, 0, 0, 0.05);">
  <div class="container-fluid">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Inicio</a></li>
        <li class="breadcrumb-item active" aria-current="page">Detalles</li>
        <li class="breadcrumb-item active" aria-current="page"> {{ detalle.id }}</li>
      </ol>
    </nav>
  </div>
</nav>

<div style="border-radius: 0 0 30% 30%;" [style.background-color]="detalle.color" *ngIf="detalle">
  <div class="container p-4">
    <div class="row">

      <div class="col-9" style="color: white;">
        <h4>Provee Soluciones Como</h4>
        <h1>{{ detalle.nombre}} </h1>
        <h6>Guia N# </h6>
      </div>

      <div class="col-3">
        <div class="image-button">
          <img [src]="detalle.imagen" style="width: 150px; height: 100px;" alt="Descripción de la imagen" (click)="abrirModal()">
        </div>
      </div>

    </div>
  </div>
</div>

<div class="container p-4">
  <div class="row">
    <div class="mt-4 mb-4 pb-2 pt-4 col-12">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, voluptate. Ratione tempora eveniet deleniti
        incidunt quidem tenetur tempore consectetur rerum unde soluta a ullam, consequuntur repellendus voluptates
        placeat odio veniam.</p>
    </div>
  </div>
</div>


<div style="background-color: rgba(0, 0, 0, 0.075);">
  <div class="container p-4">
    <div class="row">

      <div class="col-12">
        <h1>Puntos Claves</h1>
      </div>

      <div class="col-12 p-2">
        <div class="card">
          <div class="card-body">
            <div class="row">

              <div class="col-6">
                <h4>Puntos Claves</h4>
              </div>

              <div class="col-6">
                <ul>
                  <li>
                    <h5>Titulo</h5>
                    <h6>asdas</h6>
                  </li>
                  <li>
                    <h5>Titulo</h5>
                    <h6>asdas</h6>
                  </li>
                </ul>
              </div>

            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <app-footer></app-footer>